Django==1.10.5
Faker==0.7.7
argparse==1.2.1
django-cors-headers==2.0.2
django-localflavor==1.4.1
djangorestframework==3.5.4
ipaddress==1.0.18
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
wsgiref==0.1.2
Phonegap== 6.5.0